fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
databases[postgresql]
asyncpg
python-dotenv
pydantic
supabase
openai
transformers
colpali-engine>=0.3.2,<0.4.0
poppler-utils
pdf2image
pypdf
openai
qwen_vl_utils
pyvespa
vespacli
torch
accelerate
numpy